* {
  box-sizing: border-box;
}

body {
  background: #383636;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.App {
  max-width: 700px;
  margin: 50px auto 0;
  background: #fff;
  padding:  25px;
}

.Search input{
  border: 1px solid #ccc;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.BasicInfo {
  margin-top: 10px;
}

.BasicInfo__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
}

.BasicInfo--right {
  padding-left: 230px;
}

.BasicInfo__text {
  display: block;
  margin-bottom: 10px;
}

.BasicInfo__name {
  margin-top: 30px;
  margin-bottom: 30px;
}

.BasicInfo__name a {
  color: rgba(0, 110, 255, 0.9);
}

.BasicInfo__tag {
  display: inline-block;
  color: rgba(0, 110, 255, 0.9);
  border: 1px solid rgba(0, 110, 255, 0.9);
  border-radius: 3px;
  padding: 3px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 15px;
}

.ListRepo {
  padding-left: 0;
  list-style: none;
}

.ListRepo__item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  line-height: 23px;
}

.ListRepo__item a {
  color: rgba(0, 110, 255, 0.9);
  text-decoration: none;
}
